%table{:class=>'taskcelltable'}
  %tr
    %td 'Title'
    %td= tracker_task.title
  %tr
    %td 'User'
    %td= tracker_task.user.email
  %tr
    %td Destription
    %td= tracker_task.description
  %tr
    %td Project
    %td= tracker_task.tracker_project.name
  %tr 
    %td tags
    %td= raw tracker_task.tag_list.map { |tag| link_to tag, tag_path(tag)}.join(', ')
  %tr    
    %td= link_to 'Edit', edit_tracker_task_path(tracker_task)
    %td= link_to 'Destroy', tracker_task, :method => :delete, :data => { :confirm => 'Are you sure?' }    